<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/acohen35/" target="_blank">Charlotte.edu</a> |
        <a href="https://github.com/acohen35" target="_blank">GitHub</a> |
        <a href="https://acohen35.github.io/" target="_blank">GitHub.io</a> |
        <a href="https://www.freecodecamp.org/acohen35" target="_blank">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/acohen35" target="_blank">Codecademy</a> |
        <a href="https://www.linkedin.com/in/aaron-cohen-1a6194223/" target="_blank">LinkedIn</a>
    </nav>
    <br>
    <nav>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            <img src="/acohen35.github.io/itis3135/images/button_validation_css.png" alt="Validate CSS!" />
        </a>
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img src="/acohen35.github.io/itis3135/images/button_validation_html5.png" alt="Validate HTML!" />
        </a>
    </nav>
    <p>Page built by Aaron Cohen</p>
</footer>
