<footer>
    <h2 class="footer-heading">Useful Links</h2>
    <nav class="footer-links">
        <a href="https://webpages.charlotte.edu/acohen35/">CLT Web</a> |
        <a href="https://github.com/acohen35">GitHub.com</a> |
        <a href="https://www.codecademy.com/profiles/ACohen35">CC</a> |
        <a href="https://acohen35.github.io/">GitHub.io</a> |
        <a href="https://webpages.charlotte.edu/acohen35/itis3135/">ITIS3135</a> |
        <a href="https://www.freecodecamp.org/ACohen35">FCC</a> |
        <a href="https://www.linkedin.com/in/aaroncohen430/">LinkedIn</a>
    </nav>
    <p>Page Built By A16C.Inc, Certified in <a href="https://www.freecodecamp.org/certification/ACohen35/javascript-algorithms-and-data-structures-v8">JS</a> and <a href="https://www.freecodecamp.org/certification/ACohen35/responsive-web-design">Responsive Web Design</a> &copy; 2024</p>
 
    <div class="validation-links" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html" style="display: inline-block; vertical-align: middle;">
            <img src="/itis3135/hobby/images/HTML5_Badge.svg" width="31" height="31" alt="Validate webpage HTML." style="vertical-align: middle;" >
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css" style="display: inline-block; vertical-align: middle;">
            <img src="/itis3135/hobby/images/vcss.png" width="31" height="31" alt="Validate webpage CSS." style="vertical-align: middle;" >
        </a>
    </div>

    <script>
        document.getElementById("validation_link_html").setAttribute("href", 
            "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", 
            "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>
